#editor-container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: calc(100vh - 48px);
  margin: 24px auto;
  background: #efefef;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 1);
  border-radius: 16px;
}
