#editor-side-menu {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  width: 72px;
  height: 100%;
  padding: 16px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: #5dade2;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
